
<link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>


<script>
    $(document).ready(function () {
        $('#tableUser').DataTable();
    });
</script>


@*MOSTRAR TODO*@
<div>

    <form action=@Url.Action("MostrarTodo","Home") method="post">
        <input type="submit" name="button" value="Mostrar todo" class="btn btn-primary" />
    </form>

</div>

@*BUSCAR*@
<div>

    <form action=@Url.Action("Buscar","Home") method="post">
        <label class="label-primary">Buscar por nombre,apellido o dni</label>
        <input type="text" name="name" value="" class="btn btn-primary"/>
        <input type="submit" name="button" value="Buscar" class="btn btn-primary" />
    </form>

</div>


<div>
    @if (ViewBag.lista != null)
    {
        <table border="1" id="Table" class="display" style="width:100%">
            <thead>
                <tr>

                    <th>Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Telefono</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in ViewBag.lista)
                {

                    <tr>

                        <td>@item.Legajo</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.DNI</td>
                        <td>@item.Telefono</td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        @ViewBag.error
    }
</div>