@*<link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<div class="row">


    @*BUSCAR*@
    <div class="col-md-10">

        <form action=@Url.Action("Buscar","Home") method="post">
            <label class="h3">Buscar por nombre,apellido o dni</label>
            <input type="text" name="name" value="" class="input" />
            <input type="submit" name="button" value="Buscar" class="btn btn-primary" />
        </form>

    </div>

    @*MOSTRAR TODO*@
    <div class="col-md-1 ">
        </br>
        <form action=@Url.Action("MostrarTodo","Home") method="post">
            <input type="submit" name="button" value="Mostrar todo" class="btn btn-success" />
        </form>

    </div>
</div>

<div>
    @if (ViewBag.lista != null)
    {
        <table border="1" id="Table1" class="stripe hover row-border order-column  dt-body-center dt-head-center ">
            <thead>
                <tr>

                    <th class="no-sort">Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th class="no-sort">Telefono</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in ViewBag.lista)
                {

                    <tr>

                        <td>@item.Legajo</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.DNI</td>
                        <td>@item.Telefono</td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        @ViewBag.error
    }
</div>

