
<link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>


<script>
    $(document).ready(function () {
        $('#tableUser').DataTable();
    });
</script>


@*MOSTRAR TODO*@
<div>

    <form action=@Url.Action("MostrarTodo","Home") method="post">
        <input type="submit" name="button" value="Mostrar todo" />
    </form>

</div>

@*BUSCAR*@
<div>

    <form action=@Url.Action("Buscar","Home") method="post">
        <label>Buscar por nombre,apellido,dni</label>
        <input type="text" name="name" value="" />
        <input type="submit" name="button" value="Buscar" />
    </form>

</div>


@*BUSCAR POR NOMBRE*@
<div>

    <form action=@Url.Action("BuscarNombre","Home") method="post">
        <label>Buscar por nombre</label>
        <input type="text" name="name" value="" />
        <input type="submit" name="button" value="Buscar" />
    </form>

</div>


@*BUSCAR POR LEGAJO*@
<div>

    <form action=@Url.Action("BuscarLegajo","Home") method="post">
        <label>Buscar por Legajo</label>
        <input type="text" name="legajo" value="" />
        <input type="submit" name="button" value="Buscar" />
    </form>

</div>



@*BUSCAR POR DNI*@
<div>

    <form action=@Url.Action("BuscarDNI","Home") method="post">
        <label>Buscar por DNI</label>
        <input type="text" name="dni" value="" />
        <input type="submit" name="button" value="Buscar" />
    </form>

</div>


@*MOSTRAR por apellido*@
<div>

    <form action=@Url.Action("BuscarApellido","Home") method="post">
        <label>Buscar por apellido</label>
        <input type="text" name="Apellido" value="" />
        <input type="submit" name="button" value="Buscar" />
    </form>

</div>

<div>
    @if (ViewBag.lista != null)
    {
        <table border="1" id="tableUser" class="display">
            <thead>
                <tr>

                    <th>Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Telefono</th>

                </tr>
            </thead>


            @foreach (var item in ViewBag.lista)
            {
                <tbody>
                    <tr>



                        <td>@item.Legajo</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.DNI</td>
                        <td>@item.Telefono</td>

                    </tr>
                </tbody>
            }
        </table>
    }
    else
    {
        @ViewBag.error
    }
</div>